@use './colors/ecd-palette' as *;

// **********************************************************************************
// CUSTOM SCSS  *****************************************************************/
// **********************************************************************************

:root {
  --bs-blue: rgb(178, 208, 255);
  --bs-indigo: rgb(132, 152, 207);
  --bs-purple: rgb(179, 167, 210);
  --bs-pink: rgb(232, 155, 169);
  --bs-red: rgb(255, 212, 212);
  --bs-orange: rgb(248, 138, 114);
  --bs-yellow: rgb(183, 163, 139);
  --bs-green: rgb(213, 235, 215);
  --bs-teal: rgb(173, 204, 199);
  --bs-cyan: rgb(84, 178, 197);
  --bs-white: #fff;
  --bs-gray: rgb(108, 117, 125);
  --bs-gray-dark: rgb(52, 58, 64);
  --bs-gray-100: rgb(248, 249, 250);
  --bs-gray-200: rgb(233, 236, 239);
  --bs-gray-300: rgb(222, 226, 230);
  --bs-gray-400: rgb(206, 212, 218);
  --bs-gray-500: rgb(173, 181, 189);
  --bs-gray-600: rgb(108, 117, 125);
  --bs-gray-700: rgb(73, 80, 87);
  --bs-gray-800: rgb(52, 58, 64);
  --bs-gray-900: rgb(33, 37, 41);
  --bs-primary: rgb(121, 85, 105);
  --bs-secondary: rgb(166, 128, 140);
  --bs-success: rgb(229, 239, 230);
  --bs-info: rgb(178, 208, 255);
  --bs-warning: rgb(183, 163, 139);
  --bs-danger: rgb(255, 212, 212);
  --bs-light: rgb(248, 249, 250);
  --bs-dark: rgb(33, 37, 41);
  --bs-ecd-clr-8: rgb(229, 239, 230);
  --bs-ecd-clr-9: rgb(226, 213, 222);
  --bs-ecd-clr-10: rgb(230, 227, 222);
  --bs-primary-rgb: 121, 85, 105;
  --bs-secondary-rgb: 166, 128, 140;
  --bs-success-rgb: 229, 239, 230;
  --bs-info-rgb: 178, 208, 255;
  --bs-warning-rgb: 254, 234, 200;
  --bs-danger-rgb: 255, 212, 212;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-ecd-clr-8-rgb: 229, 239, 230;
  --bs-ecd-clr-9-rgb: 226, 213, 222;
  --bs-ecd-clr-10-rgb: 230, 227, 222;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 0, 0, 0;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #000;
  --bs-body-bg: #fff;
}

// COLORS ************************************************************************/
// WHITE AND GREY COLORS
$white: #fff;
$gray-100: rgb(248, 249, 250);
$gray-200: rgb(233, 236, 239);
$gray-300: rgb(222, 226, 230);
$gray-400: rgb(206, 212, 218);
$gray-500: rgb(173, 181, 189);
$gray-600: rgb(108, 117, 125);
$gray-700: rgb(73, 80, 87);
$gray-800: rgb(52, 58, 64);
$gray-900: rgb(33, 37, 41);
$black: #000;
$body-color: #000;

// BOOTSTRAP COLORS
$blue-dark: rgb(130, 147, 187);
$blue: rgb(178, 208, 255);
$indigo: rgb(132, 152, 207);
$purple: rgb(179, 167, 210);
$pink: rgb(232, 155, 169);
$red: rgb(255, 212, 212);
$orange: rgb(248, 138, 114);
$yellow: rgb(254, 234, 200);
$green-dark: rgb(159, 199, 167);
$green: rgb(213, 235, 215);
$teal: rgb(173, 204, 199);
$cyan: rgb(84, 178, 197);

// ECD THEME COLORS
$primary-dark: rgba(72, 50, 65, 1);
$primary-border: rgba(121, 85, 105, 0.5);
$primary: rgb(121, 85, 105);
$secondary: rgb(166, 128, 140);
$secondary-light: rgba(230, 219, 225);
$success: $ecd-clr-8;
$info: $blue;
$warning: $yellow;
$danger: $red;

// OVERRIDES **********************************************************************/

// ACCORDION OVERRIDES
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");
$accordion-button-active-bg: transparent;
$accordion-button-active-color: transparent;

$ecd-accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/></svg>");
$ecd-accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z'/></svg>");

$ecd-pop-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM382.6 254.6c-12.5 12.5-32.75 12.5-45.25 0L288 205.3V384c0 17.69-14.33 32-32 32s-32-14.31-32-32V205.3L174.6 254.6c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l103.1-103.1C241.3 97.4 251.1 96 256 96c4.881 0 14.65 1.391 22.65 9.398l103.1 103.1C395.1 221.9 395.1 242.1 382.6 254.6z'/></svg>");

//OVERRIDE GLOBAL STYLING
$enable-caret: false;
$enable-rounded: false;

//OVERRRIDE BORDER
$border-color: rgba($primary, 0.5);
$card-border-color: rgba($primary, 0.25);

//OVERRIDE DROPDOWN
$dropdown-border-color: rgba($primary, 0.7);
$dropdown-color: $ecd-clr-2;
$dropdown-hover-color: transparent;
$dropdown-hover-bg: transparent;
$dropdown-active-color: $ecd-clr-2;
$dropdown-active-bg: transparent;

//_navbar - OVERRIDE NAVBAR-LIGHT
$navbar-light-color: $ecd-clr-2;
$navbar-light-hover-color: $ecd-clr-4;
$navbar-light-active-color: $ecd-clr-3;
$navbar-light-toggler-border-color: transparent;

//_navbar - OVERRIDE NAVBAR-LINKS
$nav-link-font-weight: 400;
$nav-link-color: $black;
$nav-link-hover-color: $ecd-clr-3;

// $box-shadow: transparent;
// $box-shadow-sm: transparent;
// $box-shadow-lg: transparent;
// $box-shadow-inset: transparent;
$input-box-shadow: transparent;
$btn-focus-box-shadow: transparent;
$input-focus-border-color: transparent;

// OVERRIDE POSITIONS
$position-values: (
  0: 0,
  25: 25%,
  40: 40%,
  50: 50%,
  75: 75%,
  95: 95%,
  100: 100%,
);

//IMPORT BOOTSTRAP
@import '../node_modules/bootstrap/scss/bootstrap.scss';
