/* MAPS */

$mapTypography: (
  fontPrimary: $ecd-ff-primary,
  fontSecondary: $ecd-ff-secondary,
  fontSerif: $ecd-ff-serif,
);

@each $typog, $fontfa in $mapTypography {
  .#{$typog} {
    font-family: $fontfa;
  }
}
