/* MIXINS */

/* MIXIN SIN PARAMETROS */

@mixin mTitle {
  font-family: $ecd-ff-serif;
  font-size: 1rem;
  text-align: start;
}

.mTitleStyle {
  @include mTitle();
}

/* MIXIN CON PARAMETROS */

@mixin mText($size, $alineacion) {
  font-size: $size;
  text-align: $alineacion;
}

.mTextStyle {
  @include mText(1rem, right);
}
