// @use '../custom' as *;
// @use '../colors/ecd-palette' as *;

// TRANSITIONS
$ecd-transit-1: all 0.5s ease;
$ecd-transit-2: all 0.3s ease;

.ecd-pop-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #000;
  text-align: left;
  background-color: #fff;
  border: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .ecd-pop-button {
    transition: none;
  }
}
.ecd-pop-button:not(.collapsed) {
  color: transparent;
  background-color: transparent;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.ecd-pop-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#{white}'><path fill-rule='evenodd' d='M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM382.6 302.6l-103.1 103.1C270.7 414.6 260.9 416 256 416c-4.881 0-14.65-1.391-22.65-9.398L129.4 302.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 306.8V128c0-17.69 14.33-32 32-32s32 14.31 32 32v178.8l49.38-49.38c12.5-12.5 32.75-12.5 45.25 0S395.1 290.1 382.6 302.6z'/%3e%3c/svg%3e");

  transform: rotate(-180deg);
}
.ecd-pop-button::after {
  flex-shrink: 0;
  width: 1.9rem;
  height: 1.9rem;
  margin-left: auto;
  content: '';
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#{white}'><path fill-rule='evenodd' d='M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM382.6 302.6l-103.1 103.1C270.7 414.6 260.9 416 256 416c-4.881 0-14.65-1.391-22.65-9.398L129.4 302.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 306.8V128c0-17.69 14.33-32 32-32s32 14.31 32 32v178.8l49.38-49.38c12.5-12.5 32.75-12.5 45.25 0S395.1 290.1 382.6 302.6z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.9rem;
  transition: transform 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .ecd-pop-button::after {
    transition: none;
  }
}
.ecd-pop-button:hover {
  z-index: 2;
}
.ecd-pop-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: transparent;
}
