@use '../custom' as *;
@use '../components/animations' as *;
@use '../components/typography' as *;
@use '../colors/ecd-palette' as *;

$btn-border-width: 0;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

.ecd-btn-outlined-p {
  background-color: $ecd-clr-1;
  font-size: 0.875em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  padding: 0.2em 1em;
  margin-top: 0.7rem;
  border: 1.5px solid $ecd-clr-1;
  cursor: pointer;
  font-weight: 600;
  &:hover {
    transition: $ecd-transit-2;
    color: $ecd-clr-1;
    background-color: $white;
  }
}

.ecd-btn-footer {
  @extend .ecd-btn-outlined-p;
  border: 1.5px solid white;
}

.ecd-btn-outlined {
  background-color: $ecd-clr-1;
  font-size: 0.875em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.2em 1em;
  border: 1.5px solid $ecd-clr-1;
  cursor: pointer;
  font-weight: 400;
  &:hover {
    transition: $ecd-transit-2;
    color: $ecd-clr-2;
    background-color: $white;
  }
}
