@use '../custom' as *;
@use '../components/animations' as *;
@use '../components/typography' as *;
@use '../components/animations' as *;
@use '../colors/ecd-palette' as *;

// OVERRIDE

$carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#{black}'><path d='M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM358.6 278.6l-112 112c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25L290.8 256L201.4 166.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l112 112C364.9 239.6 368 247.8 368 256S364.9 272.4 358.6 278.6z'/></svg>");
$carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#{black}'><path d='M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM310.6 345.4c12.5 12.5 12.5 32.75 0 45.25s-32.75 12.5-45.25 0l-112-112C147.1 272.4 144 264.2 144 256s3.125-16.38 9.375-22.62l112-112c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L221.3 256L310.6 345.4z'/></svg>");

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  background-size: 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#{black}'><path d='M144,120.02c0-9.53,5.66-18.19,14.41-22,3.09-1.3,6.29-2,9.59-2,5.94,0,11.81,2.22,16.34,6.41l112,104c4.86,4.59,7.66,10.89,7.66,17.59,0,6.7-2.78,13.03-7.66,17.59l-112,104c-7.03,6.47-17.22,8.16-25.94,4.41-8.7-3.8-14.4-12.5-14.4-22V120.02Z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#{black}'><path d='M304,327.98c0,9.53-5.66,18.19-14.41,22-3.09,1.3-6.29,2-9.59,2-5.94,0-11.81-2.22-16.34-6.41l-112-104c-4.86-4.59-7.66-10.89-7.66-17.59s2.78-13.03,7.66-17.59l112-104c7.03-6.47,17.22-8.16,25.94-4.41,8.7,3.8,14.4,12.5,14.4,22v208Z'/%3e%3c/svg%3e");
}

$carousel-control-color: $black;
$carousel-control-width: 15%;
$carousel-control-opacity: 0.9;
$carousel-control-hover-opacity: 0.9;
$carousel-control-transition: opacity 0.15s ease;

//ecd-btn-outlined-p ecd-overlay

.ecd-overlay {
  cursor: pointer;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);

  &:hover {
    transition: $ecd-transit-2;
    opacity: 1;
  }
}
.ecd-overlay-dark {
  cursor: pointer;
  object-fit: cover;
  overflow: hidden;
  opacity: 0;
  background: rgba(20, 20, 20, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  &:hover {
    transition: $ecd-transit-2;
    opacity: 1;
  }
}

.btn-overlay {
  font-size: 1em;
  color: $ecd-clr-1;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  padding: 0.2em 1em;
  margin-top: 0.7rem;
  border: 1.5px solid $ecd-clr-1;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  &:hover {
    font-weight: 700;
    transition: $ecd-transit-2;
    color: $ecd-clr-1;
    border: 1.7px solid $ecd-clr-1;
  }
}
.btn-overlay-light {
  font-size: 1em;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  padding: 0.2em 1em;
  margin-top: 0.7rem;
  border: 1.5px solid $white;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  &:hover {
    font-weight: 700;
    transition: $ecd-transit-2;
    color: $white;
    border: 1.7px solid $white;
  }
}
