@use '../custom' as *;
@use './animations' as *;
@use './typography' as *;
@use '../colors/ecd-palette' as *;

/* _imagehero.scss */
//<<<------------ PRODUCTOS -------------->
//<<<------------ LIKE AND TOAST -------------->

.btnLike {
  border: 0;
  font-size: 1.5rem;
  color: rgba(121, 85, 105, 0.8);
  transition: $ecd-transit-2;
  &:visited {
    font-size: 1.5rem;
    color: rgba(121, 85, 105, 0.8);
  }
  &:hover {
    color: $ecd-clr-3;
  }
  &:focus {
    color: $ecd-clr-3;
  }
}
.btnLikeRed {
  color: rgba(250, 250, 250, 0.8);
  border: 0;
  font-size: 1.2rem;
  margin-right: 0.5em;
  background: transparent;
  &:hover {
    color: white;
    border: 0;
    background: transparent;
  }
}
.toastHeader {
  font-family: $ecd-ff-serif;
  font-size: 1rem;
  color: white;
  font-weight: 200;
  letter-spacing: 0.07rem;
  background: rgba(121, 85, 105, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.toastBody {
  font-family: $ecd-ff-secondary;
  color: #141414;
  font-size: 1rem;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.36);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
/*<<<<-------- INSPIRE SECTION ---------------------> */
/*<<<------------ POPS -------------------> */
.happyIcon {
  display: none;
}
.happyIconOne {
  display: none;
}
.happyIconTwo {
  display: none;
}
.happyIconThree {
  display: none;
}
.happyIconFour {
  display: none;
}
.heroInspire {
  position: relative;
}
.plusIcon {
  font-size: 2rem;
}

.btnPin {
  position: absolute;
  color: white;
  &:hover {
    color: $ecd-clr-1;
  }
  &:active {
    color: $ecd-clr-2;
  }
  &:visited {
    color: white;
  }
}

.popBkg {
  width: 12rem;
  height: 9rem;
  font-family: $ecd-ff-secondary;
  color: $ecd-clr-1;
  background: rgba(255, 255, 255, 0.36);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btnBag {
  top: 18.1%;
  right: 68%;
}
.btnBagPop {
  top: 2%;
  right: 64.5%;
}

.btnBagOne {
  top: 60%;
  right: 37%;
}
.btnBagOnePop {
  top: 43.7%;
  right: 33.4%;
}

.btnBagTwo {
  top: 45%;
  right: 58%;
}
.btnBagTwoPop {
  top: 28.7%;
  right: 54.4%;
}

.btnBagThree {
  top: 45%;
  right: 73%;
}
.btnBagThreePop {
  top: 28.7%;
  right: 69.4%;
}

.btnBagFour {
  top: 39%;
  right: 81%;
}
.btnBagFourPop {
  top: 32%;
  right: 82.5%;
}
