@use '../custom' as *;
@use '../components/typography' as *;
@use '../colors/ecd-palette' as *;

// _navbar - CUSTOM NAVBAR

.ecd-navbar {
  i {
    color: $ecd-clr-2;
    &:hover {
      color: $ecd-clr-4;
    }
    &:active {
      color: $ecd-clr-3;
    }
    &:visited {
      color: $ecd-clr-3;
    }
  }
}

.bg-gray {
  background-color: #f7f3f5;
  border-color: 2px 0 solid rgba($primary, 0.7);
}
.border-ecd {
  border-color: 2px 0 solid rgba($primary, 0.5);
}

li {
  list-style: none;
}
